 header {
     background-image: url(pics/bar.jpg);
     font-size: 1rem;
     font-weight: bold;

     height: 7%;
     width: 100%;
     border: solid rgb(24, 24, 24) 1px;

     position: fixed;
     top: 0;
     display: flex;
     flex-direction: row;
 }

 footer {
     background-image: url(pics/bar.jpg);
     display: flex;
     justify-content: center;
     padding: 1vw 1vw;
     font-size: 0.5rem;
     width: 100%;
 }

 @font-face {
     font-family: Handwriting;
     src: url('others/Handwriting.ttf');
 }

 .left {
     font-family: 'Handwriting';
     display: flex;
     align-items: center;
     width: 30%;
     margin-left: 1%;
     margin-right: 20%;
 }

 .right {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     width: 50%;
 }

 .link-buttons {
     color: white;
     text-decoration: none;
     margin: 5% 2%;
 }

 .link-buttons:hover {
     text-decoration: underline;
 }

 .link-buttons:active {
     color: rgb(63, 63, 63);
 }


 @media only screen and (min-width: 700px) and (max-width: 850px) {
     header {
         font-size: 0.7rem;
     }

     .left {
         margin-right: 15%;
     }
 }

 @media only screen and (max-width: 699px) {
     header {
         font-size: 0.6rem;
     }

     .left {
         margin-right: 10%;
     }
 }