.top-header {
    font-size: 2.5vw;
    font-weight: bold;
    height: 4.5vh;
     
    padding:1% 0%;

    border: solid rgb(24, 24, 24) 1px;

    display:flex;
    flex-direction: row;
    align-items: center;
}

.left {
    width: 45%;
    margin-left: 1vh;
}

.middle {
    width: 5%;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    box-sizing: border-box;

}

.footer {
    padding:1% 0%;
    width:100%;
    font-size: 2vh;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*header link buttons*/
.link-buttons {
    color: white;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box; 
}

.link-buttons:hover {
    text-decoration: underline;
}

.link-buttons:active {
    color: rgb(63, 63, 63);
}


