@font-face {font-family: Handwriting; src: url('others/Handwriting.ttf'); } 

.header {
    font-size: 1rem;
    text-align: center;
    margin:0;
    font-weight: bold;
}

.header2 {
    font-size: 1rem;
    margin: 0;
    text-decoration: underline;
}

.title { /*title for survey*/
    font-family:'Handwriting';
    font-size: 2rem;
    margin: 20px 0px;
    display: block;
    text-decoration: underline;
    box-sizing: border-box;
}

 .para {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
     
}


 @media only screen and (min-width: 700px) and (max-width: 850px) {
     .header, .header2, .title, .para {font-size: 0.70rem;}
}

 @media only screen and (max-width: 699px) {
     .header, .header2, .title, .para {font-size: 0.5rem;}
}

 